@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://www.reshot.com/preview-assets/illustrations/2ATX5RWSN9/parachuting-in-nature-2ATX5RWSN9-w1600.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 35px;
  text-align: center;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.clock .text {
  height: 30px;
  font-size: 20px;
  align-items: center;
}

.clock #ampm {
  margin-top: 28px;
  position: absolute;
  width: 60px;
  height: 30px;
  font-size: 25px;
}
